Source: node
Section: web
Priority: extra
Maintainer: Ben Noordhuis <info@bnoordhuis.nl>
Build-Depends: debhelper (>= 7), binutils, python
Standards-Version: 3.9.2
Homepage: http://nodejs.org/

Package: node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Event-driven I/O server-side JavaScript environment
 Node.js is a platform built on Chrome's JavaScript runtime for easily building
 fast, scalable network applications.
 .
 Node.js uses an event-driven, non-blocking I/O model that makes it lightweight
 and efficient, perfect for data-intensive real-time applications that run
 across distributed devices.

Package: node-doc
Architecture: all
Description: Event-driven I/O server-side JavaScript environment
 Node.js is a platform built on Chrome's JavaScript runtime for easily building
 fast, scalable network applications.
 .
 Node.js uses an event-driven, non-blocking I/O model that makes it lightweight
 and efficient, perfect for data-intensive real-time applications that run
 across distributed devices.
 .
 This package contains the documentation.
