Source: node
Section: unknown
Priority: extra
Maintainer: Ben <info@bnoordhuis.nl>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/node.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/node.git;a=summary

Package: node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: node-doc
Architecture: all
Description: documentation for node
 <insert long description, indented with spaces>
