#!/usr/bin/make -f

.PHONY: build install binary binary-arch clean

config.gypi:
	dh_testdir
	python configure --prefix=/usr
	touch $@

build:  config.gypi
	dh_testdir
	$(MAKE) BUILDTYPE=Release

install:  build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	DESTDIR=$(CURDIR)/debian/node $(MAKE) install

binary:	binary-indep binary-arch

binary-arch:	install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	$(MAKE) distclean
	find . -name \*.pyc -delete
	dh_clean
