#!/usr/bin/make -f

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  MAKEFLAGS += -j$(NUMJOBS)
endif

.PHONY: build install binary binary-arch binary-indep clean

configure32:
	dh_testdir
	python configure --prefix=/usr --dest-cpu=ia32

configure64:
	dh_testdir
	python configure --prefix=/usr --dest-cpu=x64

config.gypi: configure$(DEB_HOST_ARCH_BITS)
	dh_testdir
	touch $@

build:  config.gypi
	dh_testdir
	$(MAKE) BUILDTYPE=Release

install:  build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	DESTDIR=$(CURDIR)/debian/node $(MAKE) install

binary:	binary-indep binary-arch

binary-arch:	install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_testdir
	$(MAKE) distclean
	find . -name \*.pyc -delete
	dh_clean
